.imgcentro{
    max-width: 50rem;
    margin: auto;
    padding: 2rem;
}
.textcenter{
    text-align: center;
}
.centro{
    display: flex;
    margin: auto;
}

.botaocentro {
    display: flex;
    justify-content: center;
}